{% extends "base.html" %}

{% block title %}Nuevo producto{% endblock %}

{% block header %}Registro de producto{% endblock %}

{% block subtitle %}
Ingrese la información del producto
{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-7">

        <div class="card shadow-sm">
            <div class="card-body">

                <form method="POST">

                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        {{ form.nombre.label(class="form-label") }}
                        {{ form.nombre(class="form-control") }}

                        {% for error in form.nombre.errors %}
                            <div class="text-danger small">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="mb-3">
                        {{ form.categoria.label(class="form-label") }}
                        {{ form.categoria(class="form-control") }}

                        {% for error in form.categoria.errors %}
                            <div class="text-danger small">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="mb-3">
                        {{ form.precio.label(class="form-label") }}
                        {{ form.precio(class="form-control") }}

                        {% for error in form.precio.errors %}
                            <div class="text-danger small">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="mb-3">
                        {{ form.stock.label(class="form-label") }}
                        {{ form.stock(class="form-control") }}

                        {% for error in form.stock.errors %}
                            <div class="text-danger small">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    {{ form.submit(class="btn btn-primary") }}

                    <a href="{{ url_for('ver_productos') }}"
                       class="btn btn-secondary">
                        Cancelar
                    </a>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}